body {
  width: max-content;
  margin: auto;
  font-family: "Roboto";
}
.logo {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.dekor-logo {
  color: #4bcaff;
}
.nav-header {
  margin-top: 38px;
  background: #35444f;
}
.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu-item:hover {
  transition: .5s;
  background-color: black;
}
.menu-item {
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 26px 38px 19px 38px;
}
.menu-link {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}
.link-left {
  padding: 26px 38px 19px 38px;
  text-decoration: none;
  font-size: 27px;
  color: #495863;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-menu {
  padding-top: 49px;
  width: 330px;
}
.main-content {
  width: 885px;
  display: flex;
  flex-direction: column;
}
.left {
  border: 1px solid #000000;
}

.menu-left {
  display: flex;
}
.menu-left:hover {
  padding-left: 40px;
  transition: .5s;
  background-color: #dbdbdb;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 529px;
  margin-top: 49px;
  border: 1px solid black;
}
.ramda-img {
  width: 320px;
  height: 381px;
}
.ramda-img:hover {
  transition: 1s;
  transform: scale(1.2);
}
.main-text {
  margin-top: 37px;
  font-size: 16px;
  line-height: 24px;
  color: #2c2c2c;
}
.nav-footer {
  display: flex;
}
.footer {
  display: flex;
  flex-direction: row;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  margin-bottom: 30px;
  height: 69px;
}
.footer-menu {
  display: flex;
  margin-left: 40px;
}
.footer-menu-link {
  text-decoration: none;
  color: #0c1927;
  font-size: 28px;
}
.footer-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.footer-info {
  display: flex;
  align-items: center;
  margin-left: 135px;
  font-size: 24px;
  color: #010101;
}
.footer-menu-link:hover {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}
